<div class="row">
  <div class="col-xs-12 col-md-6 ">
    <form is="iron-form" [formGroup]="dform">


      <fieldset>

        <legend>Profile</legend>
        <div class="row">

          <div class="col-xs">
            <div class="box">
              <paper-input formControlName="name"  required errorMessage="{{ formErrors.name }}" label="Name" [invalid] = "formErrors.name" ngDefaultControl></paper-input>
            </div>
          </div>

          <div class="col-xs">
            <div class="box">
              <paper-input formControlName="phone" label="Phone" allowed-pattern="[0-9]" ngDefaultControl></paper-input>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-xs">
            <div class="box">
              <paper-input formControlName="email" [value]="model.email" label="Email" ngDefaultControl></paper-input>
            </div>
          </div>

          <div class="col-xs">
            <div class="box">
              <vaadin-combo-box label="Gender" [value]="model.gender" [items]="genders" (selected-item-changed)="selectedGender=$event.detail.value" formControlName="gender" ngDefaultControl></vaadin-combo-box>
            </div>
          </div>

        </div>

        <div class="row">



          <div class="col-xs">
            <div class="box">
              <paper-textarea label="Address"  [value]="model.address" formControlName="address" ngDefaultControl></paper-textarea>
            </div>
          </div>

        </div>



      </fieldset>


      <fieldset>

        <legend>Work</legend>


        <div class="row">


          <div class="col-xs">
            <div class="box">
              <paper-input formControlName="percentage" label="Percentage Share" allowed-pattern="[0-9]" ngDefaultControl>
                <div suffix>%</div>
              </paper-input>
            </div>
          </div>

          <div class="col-xs">
            <div class="box">
              <paper-input formControlName="fee" label="Fee" allowed-pattern="[0-9]" ngDefaultControl>

              </paper-input>
            </div>
          </div>




        </div>


      <div class="row">
        <div class="col-xs">
          <div class="box">
            <paper-textarea label="Notes"  [value]="model.notes" formControlName="notes" ngDefaultControl></paper-textarea>
          </div>
        </div>
      </div>



      </fieldset>

      <fieldset>
        <div class="row">
          <paper-button class="primary" [disabled]="!dform.valid || submitted" raised (click)="onSubmit()">
            <paper-spinner-lite alt="Loading..." class="grey" [active]="submitted" [class.hidden]="!submitted"></paper-spinner-lite>
            Add
          </paper-button>
        </div>
      </fieldset>


    </form>
  </div>

  <div class="col-xs-12 col-md-4">
    <employees-selecter #employeeSelected (onSelected)="employeesSelected($event)" [reset]="resetEmployees"  ></employees-selecter>
  </div>

</div>





<toasts></toasts>
